.div1.fly-birds-page_de44b17888 {
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0 auto;
}
.div1.fly-birds-page_de44b17888,
.div1.fly-birds-page_de44b17888 .div2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 10rem;
}
.div1.fly-birds-page_de44b17888 .div2 {
  align-items: center;
  height: 5.390625rem;
  z-index: 1;
}
.div1.fly-birds-page_de44b17888 .div2 .image3 {
  height: 5.390625rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_de44b17888 .div2 .div4 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -4.570313rem;
  min-height: 1.183594rem;
  width: 5.3125rem;
  z-index: 1;
}

.div1.fly-birds-page_de44b17888 .div2 .div4 .div5 .text-container-985 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 0.265625rem;
  text-align: center;
}
.div1.fly-birds-page_de44b17888
  .div2
  .div4
  .div5
  .text-container-985
  .split_text1064 {
  color: #030104;
  font-size: 0.28125rem;
  line-height: 0.234375rem;
  margin-right: 0.050781rem;
}
.div1.fly-birds-page_de44b17888
  .div2
  .div4
  .div5
  .text-container-985
  .split_text1065 {
  color: #030104;
  font-size: 0.28125rem;
  line-height: 0.234375rem;
}
.div1.fly-birds-page_de44b17888
  .div2
  .div4
  .div5
  .text-container-985
  .split_text1066 {
  color: #030104;
  font-size: 0.28125rem;
  letter-spacing: 0.027344rem;
  line-height: 0.234375rem;
}
.div1.fly-birds-page_de44b17888
  .div2
  .div4
  .div5
  .text-container-985
  .split_text1067 {
  color: #030104;
  font-size: 0.28125rem;
  line-height: 0.234375rem;
}
.div1.fly-birds-page_de44b17888
  .div2
  .div4
  .div5
  .text-container-985
  .split_text1068 {
  color: #030104;
  font-size: 0.28125rem;
  letter-spacing: 0.027344rem;
  line-height: 0.234375rem;
}
.div1.fly-birds-page_de44b17888
  .div2
  .div4
  .div5
  .text-container-985
  .split_text1069 {
  color: #030104;
  font-size: 0.28125rem;
  line-height: 0.234375rem;
}
.div1.fly-birds-page_de44b17888
  .div2
  .div4
  .div5
  .text-container-985
  .split_text1070 {
  color: #030104;
  font-size: 0.28125rem;
  letter-spacing: 0.027344rem;
  line-height: 0.234375rem;
}
.div1.fly-birds-page_de44b17888
  .div2
  .div4
  .div5
  .text-container-985
  .split_text1071 {
  color: #030104;
  font-size: 0.28125rem;
  line-height: 0.234375rem;
}
.div1.fly-birds-page_de44b17888 .div2 .div4 .div6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.128906rem;
  min-height: 0.179688rem;
  width: 1.695313rem;
}
.div1.fly-birds-page_de44b17888 .div2 .div4 .div6 .split_text1072 {
  color: #030104;
  font-size: 0.1875rem;
  line-height: 0.234375rem;
  text-align: center;
  width: 5.625rem;
}
.div1.fly-birds-page_de44b17888 .div2 .div4 .div7 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.140625rem;
  width: 2.195313rem;
}
.div1.fly-birds-page_de44b17888 .div2 .div4 .div7 .split_text1073 {
  color: #030104;
  font-size: 0.1875rem;
  line-height: 0.234375rem;
  text-align: center;
  width: 5.625rem;
}
.div1.fly-birds-page_de44b17888 .div2 .div4 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_de44b17888 .div2 .div4 .div8 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -1px;
  margin-top: 0.246094rem;
  min-height: 0.167969rem;
  width: 0.832031rem;
}
.hairlines .div1.fly-birds-page_de44b17888 .div2 .div4 .div8 {
  margin-left: -0.5px;
}
.div1.fly-birds-page_de44b17888 .div2 .div4 .div8 .text-container-988 {
  text-align: center;
  width: 5.625rem;
}
.div1.fly-birds-page_de44b17888
  .div2
  .div4
  .div8
  .text-container-988
  .split_text1074 {
  color: #030104;
  font-family: CamphorProForXiaoMi-Regular, sans-serif;
  font-size: 0.140625rem;
  line-height: 0.234375rem;
}
.div1.fly-birds-page_de44b17888
  .div2
  .div4
  .div8
  .text-container-988
  .split_text1075 {
  color: #030104;
  font-family: CamphorProForXiaoMi-Bold, sans-serif;
  font-size: 0.234375rem;
  line-height: 0.234375rem;
}
.div1.fly-birds-page_de44b17888
  .div2
  .div4
  .div8
  .text-container-988
  .split_text1076 {
  color: #030104;
  font-family: CamphorProForXiaoMi-Regular, sans-serif;
  font-size: 0;
  line-height: 0.234375rem;
}
.div1.fly-birds-page_de44b17888
  .div2
  .div4
  .div8
  .text-container-988
  .split_text1077 {
  color: #030104;
  font-family: CamphorProForXiaoMi-Regular, sans-serif;
  font-size: 0.140625rem;
  line-height: 0.234375rem;
}
.div1.fly-birds-page_de44b17888 .image9 {
  height: 33.984375rem;
  margin-top: -5.390625rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_de44b17888 .div10 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 11.269531rem;
  justify-content: flex-start;
  margin-top: -28.59375rem;
  padding-bottom: 0.609375rem;
  width: 10rem;
  z-index: 2;
}
.div1.fly-birds-page_de44b17888 .div10 .image11 {
  height: 11.269531rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_de44b17888 .div10 .div12 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.007813rem;
  margin-top: -10.648438rem;
  min-height: 10.039063rem;
  width: 5.617188rem;
  z-index: 1;
}
.div1.fly-birds-page_de44b17888 .div10 .div12 .div13 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1px;
  min-height: 0.226563rem;
  width: 3.207031rem;
}
.hairlines .div1.fly-birds-page_de44b17888 .div10 .div12 .div13 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_de44b17888 .div10 .div12 .div13 .split_text1078 {
  color: #030104;
  font-size: 0.234375rem;
  line-height: 0.234375rem;
  text-align: center;
  width: 5.625rem;
}
.div1.fly-birds-page_de44b17888 .div10 .div12 .div14 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.1875rem;
  min-height: 0.253906rem;
  width: 5.617188rem;
}
.div1.fly-birds-page_de44b17888 .div10 .div12 .div14 .split_text1079 {
  color: #030104;
  font-size: 0.109375rem;
  line-height: 0.148438rem;
  text-align: center;
  width: 5.625rem;
}
.div1.fly-birds-page_de44b17888 .div10 .div12 .div15 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -3.996094rem;
  margin-top: 0.871094rem;
  min-height: 0.105469rem;
  width: 0.238281rem;
}
.div1.fly-birds-page_de44b17888 .div10 .div12 .div15 .split_text1080 {
  color: #656565;
  font-size: 0.109375rem;
  line-height: 0.140625rem;
  text-align: center;
  width: 0.46875rem;
}
.div1.fly-birds-page_de44b17888 .div10 .div12 .div16 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2.71875rem;
  margin-top: 0.550781rem;
  min-height: 0.085938rem;
  width: 0.203125rem;
}
.div1.fly-birds-page_de44b17888 .div10 .div12 .div16 .split_text1081 {
  color: #5f9bb5;
  font-size: 0.109375rem;
  line-height: 0.140625rem;
  text-align: center;
  width: 0.46875rem;
}
.div1.fly-birds-page_de44b17888 .div10 .div12 .div17 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.683594rem;
  margin-top: 1.589844rem;
  min-height: 0.082031rem;
  width: 0.199219rem;
}
.div1.fly-birds-page_de44b17888 .div10 .div12 .div17 .split_text1082 {
  color: #d5a199;
  font-size: 0.109375rem;
  line-height: 0.140625rem;
  text-align: center;
  width: 0.46875rem;
}
.div1.fly-birds-page_de44b17888 .div10 .div12 .div18 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.179688rem;
  margin-top: 1.660156rem;
  min-height: 0.105469rem;
  width: 0.648438rem;
}
.div1.fly-birds-page_de44b17888 .div10 .div12 .div18 .split_text1083 {
  color: #67b92f;
  font-size: 0.109375rem;
  line-height: 0.140625rem;
  text-align: center;
  width: 0.703125rem;
}
.div1.fly-birds-page_de44b17888 .div10 .div12 .div19 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -3.5rem;
  margin-top: 1.710938rem;
  min-height: 0.085938rem;
  width: 0.242188rem;
}
.div1.fly-birds-page_de44b17888 .div10 .div12 .div19 .split_text1084 {
  color: #156953;
  font-size: 0.109375rem;
  line-height: 0.140625rem;
  text-align: center;
  width: 0.46875rem;
}
.div1.fly-birds-page_de44b17888 .div10 .div12 .div20 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3.347656rem;
  margin-top: 0.660156rem;
  min-height: 0.085938rem;
  width: 0.246094rem;
}
.div1.fly-birds-page_de44b17888 .div10 .div12 .div20 .split_text1085 {
  color: #000;
  font-size: 0.109375rem;
  line-height: 0.140625rem;
  text-align: center;
  width: 0.46875rem;
}
.div1.fly-birds-page_de44b17888 .div10 .div12 .div21 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -0.007813rem;
  margin-top: 1.679688rem;
  min-height: 0.097656rem;
  width: 4.523438rem;
}
.div1.fly-birds-page_de44b17888 .div10 .div12 .div21 .split_text1086 {
  color: #030104;
  font-size: 0.101563rem;
  line-height: 0.148438rem;
  text-align: center;
  width: 5.625rem;
}
.div1.fly-birds-page_de44b17888 .div22 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 7.578125rem;
  justify-content: flex-start;
  margin-top: 1px;
  padding-bottom: 0.265625rem;
  width: 10rem;
  z-index: 3;
}
.hairlines .div1.fly-birds-page_de44b17888 .div22 {
  margin-top: 0.5px;
}
.div1.fly-birds-page_de44b17888 .div22 .image23 {
  height: 7.578125rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_de44b17888 .div22 .div24 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -0.039063rem;
  margin-top: -6.960938rem;
  min-height: 6.695313rem;
  width: 3.890625rem;
  z-index: 1;
}
.div1.fly-birds-page_de44b17888 .div22 .div24 .div25 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.039063rem;
  min-height: 0.175781rem;
  width: 2.796875rem;
}
.div1.fly-birds-page_de44b17888 .div22 .div24 .div25 .split_text1087 {
  color: #753f47;
  font-size: 0.234375rem;
  line-height: 0.234375rem;
  text-align: center;
  width: 5.625rem;
}
.div1.fly-birds-page_de44b17888 .div22 .div24 .div26 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.039063rem;
  margin-top: 0.191406rem;
  min-height: 0.257813rem;
  width: 3.414063rem;
}
.div1.fly-birds-page_de44b17888 .div22 .div24 .div26 .split_text1088 {
  color: #753f47;
  font-size: 0.109375rem;
  line-height: 0.148438rem;
  text-align: center;
  width: 5.625rem;
}
.div1.fly-birds-page_de44b17888 .div22 .div24 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_de44b17888 .div22 .div24 .div27 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5.960938rem;
  min-height: 0.109375rem;
  width: 3.890625rem;
}
.div1.fly-birds-page_de44b17888 .div22 .div24 .div27 .div28 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.109375rem;
  width: 1.117188rem;
}
.div1.fly-birds-page_de44b17888 .div22 .div24 .div27 .div28 .split_text1089 {
  color: #753f47;
  font-size: 0.109375rem;
  line-height: 0.148438rem;
  text-align: center;
  width: 2.265625rem;
}
.div1.fly-birds-page_de44b17888 .div22 .div24 .div27 .div29 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.082031rem;
  width: 1.003906rem;
}
.div1.fly-birds-page_de44b17888 .div22 .div24 .div27 .div29 .split_text1090 {
  color: #753f47;
  font-size: 0.109375rem;
  line-height: 0.148438rem;
  text-align: center;
  width: 2.265625rem;
}
.div1.fly-birds-page_de44b17888 .div30 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 3.671875rem;
  justify-content: flex-start;
  width: 10rem;
  z-index: 4;
}
.div1.fly-birds-page_de44b17888 .div30 .image31 {
  height: 3.671875rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_de44b17888 .div30 .div32 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.007813rem;
  margin-top: -3.332031rem;
  min-height: 0.621094rem;
  width: 4.828125rem;
  z-index: 1;
}
.div1.fly-birds-page_de44b17888 .div30 .div32 .div33 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.011719rem;
  min-height: 0.226563rem;
  width: 2.988281rem;
}
.div1.fly-birds-page_de44b17888 .div30 .div32 .div33 .split_text1091 {
  color: #030104;
  font-size: 0.234375rem;
  line-height: 0.234375rem;
  text-align: center;
  width: 5.625rem;
}
.div1.fly-birds-page_de44b17888 .div30 .div32 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_de44b17888 .div30 .div32 .div34 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.140625rem;
  min-height: 0.105469rem;
  width: 3.804688rem;
}
.div1.fly-birds-page_de44b17888 .div30 .div32 .div34 .split_text1092 {
  color: #030104;
  font-size: 0.109375rem;
  line-height: 0.148438rem;
  text-align: center;
  width: 5.625rem;
}
.div1.fly-birds-page_de44b17888 .div30 .div32 .div35 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.105469rem;
  width: 4.828125rem;
}
.div1.fly-birds-page_de44b17888 .div30 .div32 .div35 .split_text1093 {
  color: #030104;
  font-size: 0.109375rem;
  line-height: 0.148438rem;
  text-align: center;
  width: 5.625rem;
}
.div1.fly-birds-page_de44b17888 .div36 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 4.023438rem;
  justify-content: flex-start;
  width: 10rem;
  z-index: 5;
}
.div1.fly-birds-page_de44b17888 .div36 .image37 {
  height: 4.023438rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_de44b17888 .div36 .div38 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.113281rem;
  margin-top: -3.878906rem;
  min-height: 0.773438rem;
  width: 5.371094rem;
  z-index: 1;
}
.div1.fly-birds-page_de44b17888 .div36 .div38 .div39 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -0.09375rem;
  min-height: 0.226563rem;
  width: 3.066406rem;
}
.div1.fly-birds-page_de44b17888 .div36 .div38 .div39 .split_text1094 {
  color: #030104;
  font-size: 0.234375rem;
  line-height: 0.234375rem;
  text-align: center;
  width: 5.625rem;
}
.div1.fly-birds-page_de44b17888 .div36 .div38 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_de44b17888 .div36 .div38 .div40 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1px;
  margin-top: 0.140625rem;
  min-height: 0.109375rem;
  width: 1.851563rem;
}
.hairlines .div1.fly-birds-page_de44b17888 .div36 .div38 .div40 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_de44b17888 .div36 .div38 .div40 .split_text1095 {
  color: #030104;
  font-size: 0.109375rem;
  line-height: 0.148438rem;
  text-align: center;
  width: 5.625rem;
}
.div1.fly-birds-page_de44b17888 .div36 .div38 .div41 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.109375rem;
  width: 5.371094rem;
}
.div1.fly-birds-page_de44b17888 .div36 .div38 .div41 .split_text1096 {
  color: #030104;
  font-size: 0.109375rem;
  line-height: 0.148438rem;
  text-align: center;
  width: 5.625rem;
}
.div1.fly-birds-page_de44b17888 .div36 .div38 .div42 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.109375rem;
  width: 4.347656rem;
}
.div1.fly-birds-page_de44b17888 .div36 .div38 .div42 .split_text1097 {
  color: #030104;
  font-size: 0.109375rem;
  line-height: 0.148438rem;
  text-align: center;
  width: 5.625rem;
}
.div1.fly-birds-page_de44b17888 .div43 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 2.046875rem;
  justify-content: flex-start;
  padding-right: 2.957031rem;
  width: 10rem;
  z-index: 6;
}
.div1.fly-birds-page_de44b17888 .div43 .image44 {
  height: 2.046875rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_de44b17888 .div43 .image45 {
  align-items: center;
  border: 0.007813rem solid #000;
  border-radius: 0.078125rem;
  box-sizing: border-box;
  display: flex;
  height: 0.332031rem;
  justify-content: space-between;
  margin-left: -3.738281rem;
  margin-right: -0.78125rem;
  margin-top: -0.082031rem;
  width: 1.941406rem;
  z-index: 2;
}
.div1.fly-birds-page_de44b17888 .div43 .image45 .split_text1098 {
  align-items: center;
  box-sizing: border-box;
  color: #000;
  display: flex;
  font-family: CamphorProForXiaoMi-Bold, sans-serif;
  font-size: 0.117188rem;
  height: 0.359375rem;
  justify-content: center;
  line-height: 1.2;
  min-width: 1.484375rem;
  padding: 0 0.117188rem;
  text-align: center;
}
.div1.fly-birds-page_de44b17888 .div43 .image45 .split_text4521-bg {
  background-image: url(https://i02.appmifile.com/783_operatorx_operatorx_xm/07/09/2022/0643a879447bc502bd9fd5161a3fc4e8.png);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 0.347656rem 0.226563rem;
  height: 100%;
  width: 0.546875rem;
}
.specs-con {
  background-color: #fff;
}
.specs-con .f12 {
  font-size: 12px;
}
.specs-con .f14 {
  font-size: 14px;
}
.specs-con .f16 {
  font-size: 16px;
}
.specs-con .f18 {
  font-size: 18px;
}
.specs-con .f20 {
  font-size: 20px;
}
.specs-con .f22 {
  font-size: 22px;
}
.specs-con .f24 {
  font-size: 24px;
}
.specs-con .f28 {
  font-size: 28px;
}
.specs-con .f30 {
  font-size: 30px;
}
.specs-con .f32 {
  font-size: 32px;
}
.specs-con .f36 {
  font-size: 36px;
}
.specs-con .f38 {
  font-size: 38px;
}
.specs-con .f40 {
  font-size: 40px;
}
.specs-con .f46 {
  font-size: 46px;
}
.specs-con .f48 {
  font-size: 48px;
}
.specs-con .f50 {
  font-size: 50px;
}
.specs-con .f56 {
  font-size: 56px;
}
.specs-con .f60 {
  font-size: 60px;
}
.specs-con .f64 {
  font-size: 64px;
}
.specs-con .f70 {
  font-size: 70px;
}
.specs-con .f72 {
  font-size: 72px;
}
.specs-con .f74 {
  font-size: 74px;
}
.specs-con .f76 {
  font-size: 76px;
}
.specs-con .f80 {
  font-size: 80px;
}
.specs-con .f90 {
  font-size: 90px;
}
.specs-con .f100 {
  font-size: 100px;
}
.specs-con .f110 {
  font-size: 110px;
}
.specs-con .f120 {
  font-size: 120px;
}
.specs-con .f130 {
  font-size: 130px;
}
.specs-con .f140 {
  font-size: 140px;
}
.specs-con .f148 {
  font-size: 148px;
}
.specs-con .f150 {
  font-size: 150px;
}
.specs-con .section {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1226px;
}
.mi-modal.mi-modal--desktop .mi-modal__content.notify-pc-modal {
  min-width: 560px;
  width: 850px;
}
.notify-m-modal__title,
.notify-pc-modal__title {
  border-bottom: 1px solid var(--border-light-variant);
  color: var(--title-base);
  font-size: 28px;
  font-weight: 400;
  height: 80px;
  line-height: 80px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
.notify-m-modal__content,
.notify-pc-modal__content {
  box-sizing: border-box;
  padding: 30px 0;
}
.notify-m-modal__content .notify-modal__icon,
.notify-pc-modal__content .notify-modal__icon {
  display: flex;
  height: 100px;
  justify-content: center;
  margin-bottom: 15px;
}
.notify-m-modal__content .notify-modal__icon .xiaomi,
.notify-pc-modal__content .notify-modal__icon .xiaomi {
  color: #83c44e;
  font-size: 85px;
  line-height: 1;
}
.notify-m-modal__content .notify-modal__subtitle,
.notify-pc-modal__content .notify-modal__subtitle {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
.notify-m-modal__content .notify-modal__detail,
.notify-pc-modal__content .notify-modal__detail {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 475px;
}
.notify-m-modal__content .notify-modal__detail a,
.notify-pc-modal__content .notify-modal__detail a {
  color: #ff6700;
  text-decoration: underline;
}
.notify-m-modal__actions,
.notify-pc-modal__actions {
  align-items: center;
  border-top: 1px solid var(--border-light-variant);
  display: flex;
  height: 80px;
  justify-content: center;
}
.notify-m-modal__actions .notify-modal__button,
.notify-pc-modal__actions .notify-modal__button {
  align-items: center;
  background-color: var(--background-primary);
  border: 0;
  box-sizing: border-box;
  color: var(--link-light-variant);
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  line-height: 40px;
  padding: 0 40px;
  -webkit-user-select: none;
  user-select: none;
}
.mi-modal.mi-modal--mobile .notify-m-modal .mi-modal__title--center {
  font-size: 18px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: left;
}
.mi-modal.mi-modal--mobile .notify-m-modal .mi-modal__title-wrap {
  height: auto;
}
.mi-modal.mi-modal--mobile .notify-m-modal__content {
  padding-left: 10px;
  padding-right: 10px;
}
.mi-modal.mi-modal--mobile .notify-m-modal__content .notify-modal__icon {
  display: none;
}
.mi-modal.mi-modal--mobile .notify-m-modal__content .notify-modal__subtitle {
  font-size: 16px;
  text-align: left;
}
.mi-modal.mi-modal--mobile .notify-m-modal__content .notify-modal__detail {
  text-align: left;
  width: 100%;
}
.mi-modal.mi-modal--mobile .notify-m-modal__actions {
  display: none;
}
.buy-container {
  background-color: #fafafa;
  transition: height 0.5s ease;
  width: 100%;
}
.buy-container::-webkit-scrollbar {
  display: none;
}
.buy-container .product__main {
  border-top: none !important;
}
html {
  margin: 0 auto;
}
body,
html {
  height: 100%;
}
body,
html,
li,
p,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
:root {
  --skeleton-color: #eee;
}
body > img,
head > img,
html > img {
  display: none;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
}
.xm-link {
  display: inline-block;
  text-decoration: none;
}
.xm-link.xm-button {
  background-color: initial;
}
.xm-button {
  background-color: #ff6700;
  color: #fff;
  padding: 0.046875rem;
}
.xm-text {
  display: inline-block;
  white-space: break-spaces !important;
}
.xm-blur {
  opacity: 0.3 !important;
}
.hide {
  display: none !important;
}
.xm-page-hide {
  height: 0;
  position: absolute;
}
.xm-update {
  position: relative;
}
.xm-update:after {
  border: 0.007813rem solid #ff0;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.xm-picture .xm-img {
  width: 100%;
}
.xm-img {
  color: #0000;
}
.xm-img:not([src]),
.xm-img[src=""] {
  visibility: hidden;
}
.xm-picture {
  display: inline-flex;
}
.eg .xm-text,
.gcc .xm-text,
.sa .xm-text {
  display: block;
}
.eg .footer.footer--desktop,
.eg .header.header--desktop,
.eg .xm-button,
.eg .xm-navbar,
.eg .xm-price,
.eg .xm-text,
.gcc .footer.footer--desktop,
.gcc .header.header--desktop,
.gcc .xm-button,
.gcc .xm-navbar,
.gcc .xm-price,
.gcc .xm-text,
.sa .footer.footer--desktop,
.sa .header.header--desktop,
.sa .xm-button,
.sa .xm-navbar,
.sa .xm-price,
.sa .xm-text {
  direction: rtl;
}
.eg .header.header--desktop .site-logo .site-logo__wrapper img,
.gcc .header.header--desktop .site-logo .site-logo__wrapper img,
.sa .header.header--desktop .site-logo .site-logo__wrapper img {
  transform: none;
}
.eg .header.header--desktop .entry__item:before,
.gcc .header.header--desktop .entry__item:before,
.sa .header.header--desktop .entry__item:before {
  right: 0;
}
.eg .header.header--desktop .entry__left .entry__item:first-child,
.gcc .header.header--desktop .entry__left .entry__item:first-child,
.sa .header.header--desktop .entry__left .entry__item:first-child {
  padding-left: 20px;
}
.eg .footer.footer--desktop .footer-bottom .copyright,
.gcc .footer.footer--desktop .footer-bottom .copyright,
.sa .footer.footer--desktop .footer-bottom .copyright {
  float: right;
}
.section {
  background-repeat: no-repeat;
  margin-bottom: -1px;
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: initial;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: initial;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
.hairlines abbr[title] {
  border-bottom: 0.5px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 0.15625rem;
}
hr {
  box-sizing: initial;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, sans-serif;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  appearance: textfield;
  box-sizing: initial;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
fieldset {
  border: 1px solid silver;
  margin: 0 0.007813rem;
  padding: 0.35em 0.625em 0.75em;
}
.hairlines fieldset {
  border: 0.5px solid silver;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: 700;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  font-size: 14px;
  line-height: 1.5;
}
a,
body {
  color: #757575;
}
p > a {
  color: #ff6700;
}
p > a:hover {
  text-decoration: underline;
}
dd,
dl,
dt,
li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: initial;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
.eco_name-88 {
  font-size: 0.34375rem;
  line-height: 0.429688rem;
}
.eco_name-80 {
  font-size: 0.3125rem;
  line-height: 0.390625rem;
}
.eco_name-72 {
  font-size: 0.34375rem;
  line-height: 0.351563rem;
}
.eco_slogan {
  font-size: 0.1875rem;
  line-height: 0.234375rem;
}
.eco_ksp {
  font-size: 0.117188rem;
  line-height: 0.171875rem;
}
.eco_name-radius {
  border-radius: 0.015625rem;
  font-size: 0.15625rem;
  line-height: 0.226563rem;
}
.eco_ksp-title {
  font-size: 0.125rem;
  line-height: 0.15625rem;
}
.eco_ksp-text {
  font-size: 0.09375rem;
  line-height: 0.125rem;
}
.eco_ksp-item {
  padding: 0.117188rem 0.136719rem;
}
.eco_title {
  font-size: 0.234375rem;
  line-height: 0.28125rem;
}
.eco_text {
  font-size: 0.117188rem;
  line-height: 0.15625rem;
}
.eco_note {
  font-size: 0.09375rem;
  line-height: 0.109375rem;
}
.eco_number {
  font-size: 0.429688rem;
  line-height: 0.429688rem;
}
.eco_note-text {
  font-size: 0.09375rem;
  line-height: 0.125rem;
}
.price-common {
  font-size: 0.257813rem;
  font-weight: 300;
}
.price-common .xm-price__from {
  font-size: 60%;
  margin: 0 0.039063rem;
}
.price-common .xm-price__sNum {
  font-weight: 700;
  margin: 0;
}
.price-common .xm-price__label {
  font-size: 60%;
  margin: 0;
}
.price-common .xm-price--current .xm-price__label {
  font-size: 100%;
  font-weight: 700;
}
.price-common .xm-price--sale {
  margin-right: 0.039063rem;
}
.price-common .xm-price--sale .xm-price__label,
.price-common .xm-price--sale .xm-price__sNum {
  margin: 0;
}
.price-common .xm-price--origin .xm-price__label {
  font-size: 100%;
}
.price-common .xm-price--origin .xm-price__mNum {
  margin: 0;
}
.scroll-common .slick-slider .slick-dots li > button {
  background-color: initial;
  border: 0.007813rem solid #fff;
  border-radius: 50%;
  height: 0.054688rem;
  padding: 0;
  text-indent: -39.058594rem;
  width: 0.054688rem;
}
.scroll-common .slick-slider .slick-dots li.slick-active > button {
  background-color: #fff;
}
.scroll-common .slick-slider .slick-arrow {
  height: 0.195313rem;
  width: 0.195313rem;
}
.scroll-common .slick-slider .slick-prev {
  background: url(//i01.appmifile.com/webfile/globalimg/zh/2021/left.png)
    no-repeat;
  background-size: 100% 100%;
}
.scroll-common .slick-slider .slick-next {
  background: url(//i01.appmifile.com/webfile/globalimg/zh/2021/right.png)
    no-repeat;
  background-size: 100% 100%;
}
.scroll-common-grey .slick-slider .slick-dots li > button {
  background-color: initial;
  border: 0.007813rem solid #fff;
  border-radius: 50%;
  height: 0.054688rem;
  padding: 0;
  text-indent: -39.058594rem;
  width: 0.054688rem;
}
.scroll-common-grey .slick-slider .slick-dots li.slick-active > button {
  background-color: #fff;
}
.scroll-common-grey .slick-slider .slick-arrow {
  height: 0.195313rem;
  width: 0.195313rem;
}
.scroll-common-grey .slick-slider .slick-prev {
  background: url(//i01.appmifile.com/webfile/globalimg/zh/2021/left-grey.png)
    no-repeat;
  background-size: 100% 100%;
}
.scroll-common-grey .slick-slider .slick-next {
  background: url(//i01.appmifile.com/webfile/globalimg/zh/2021/right-grey.png)
    no-repeat;
  background-size: 100% 100%;
}
.scroll-small li > button {
  border-radius: 0;
  height: 0.023438rem;
  margin: 0 0.03125rem;
  width: 0.195313rem;
}
.scroll-small .slick-slide div img {
  border-radius: 0.195313rem;
}
.eco_specs-title {
  font-size: 0.109375rem;
  line-height: 0.140625rem;
}
.eco_specs-label,
.eco_specs-value {
  font-size: 0.070313rem;
  line-height: 0.101563rem;
}
.f-extra,
.f-light,
.f-thin {
  font-weight: 300;
}
.f-regular {
  font-weight: 400;
}
.f-medium {
  font-weight: 500;
}
.f-semi {
  font-weight: 600;
}
.f-bold {
  font-weight: 700;
}
.f-bolder {
  font-weight: 800;
}
.f-heavy {
  font-weight: 900;
}
.xm-button,
.xm-navbar__nav-item,
.xm-price {
  font-weight: 400 !important;
}
.price-common {
  font-weight: 300 !important;
}
.price-common .xm-price--current .xm-price__label,
.price-common .xm-price__sNum {
  font-weight: 700 !important;
}
@font-face {
  font-family: CamphorPro-Light;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Light.woff)
    format("woff");
}
@font-face {
  font-family: CamphorPro-Regular;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Regular.woff)
    format("woff");
}
@font-face {
  font-family: CamphorPro-Bold;
  font-weight: 700;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Bold.woff)
    format("woff");
}
@font-face {
  font-family: CamphorPro-Thin;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Thin.woff)
    format("woff");
}
@font-face {
  font-family: CamphorPro-Heavy;
  font-weight: 900;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Heavy.woff)
    format("woff");
}
@font-face {
  font-family: CamphorPro-Medium;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Medium.woff)
    format("woff");
}
@font-face {
  font-family: CamphorProForXiaoMi-Light;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Light.woff)
    format("woff");
}
@font-face {
  font-family: CamphorProForXiaoMi-Regular;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Regular.woff)
    format("woff");
}
@font-face {
  font-family: CamphorProForXiaoMi-Bold;
  font-weight: 700;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Bold.woff)
    format("woff");
}
@font-face {
  font-family: CamphorProForXiaoMi-Thin;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Thin.woff)
    format("woff");
}
@font-face {
  font-family: CamphorProForXiaoMi-Heavy;
  font-weight: 900;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Heavy.woff)
    format("woff");
}
@font-face {
  font-family: CamphorProForXiaoMi-Medium;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Medium.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-Light;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Light.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-ExtraLight;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-ExtraLight.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-Regular;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Regular.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-Bold;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Bold.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-Book;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Book.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-SemiBold;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-SemiBold.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-Hairline;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Hairline.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-Medium;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Medium.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-cool-Light;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Light.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-cool-ExtraLight;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-ExtraLight.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-cool-Regular;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Regular.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-cool-Bold;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Bold.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-cool-Book;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Book.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-cool-SemiBold;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-SemiBold.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-cool-Hairline;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Hairline.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-cool-Medium;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Medium.woff)
    format("woff");
}
.poco .f-light {
  font-family: POCOTech-Light, sans-serif;
}
.poco .f-extra {
  font-family: POCOTech-ExtraLight, sans-serif;
}
.poco .f-regular {
  font-family: POCOTech-Regular, sans-serif;
}
.poco .f-bold {
  font-family: POCOTech-Bold, sans-serif;
}
.poco .f-book {
  font-family: POCOTech-Book, sans-serif;
}
.poco .f-semi {
  font-family: POCOTech-SemiBold, sans-serif;
}
.poco .f-hair {
  font-family: POCOTech-Hairline, sans-serif;
}
.poco .f-medium {
  font-family: POCOTech-Medium, sans-serif;
}


a {
  color: inherit;
  font-size: 14px;
  text-decoration: none;
}
.container {
  margin: 0 auto;
  width: 1226px;
}
main {
  display: inline-block;
  font-size: 16px;
}
body {
  background-color: var(--background-base);
  color: var(--title-dark);
}
input,
select,
textarea {
  background-color: var(--background-card-bg);
  border-color: var(--title-dark);
}

